@import url(http://fonts.googleapis.com/css?family=Bitter:400,700,400italic);

body {
  font-family: 'Bitter', serif;
}

.details-active body {
  height: 100%;
}

html.details-active {
  height: 100%;
  overflow: scroll;
}

h2 {
  -webkit-margin-before: 0;
}

h3 {
  text-align: center;
}

.btn {
  position: relative;
  display: block;
  width: 250px;
  margin: 20px auto;
  padding: 10px;

  background-color: #fff;
  border: 1px solid #ccc;

  color: #000;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  transform-style: flat;
  transition: all 250ms ease-out;

  cursor: pointer;

}
.btn:before {
  content: "";
  position: absolute;
  z-index: -2;
  transition: all 250ms ease-out;
}

.btn:after {
  content: "";
  position: absolute;
  z-index: -2;
  transition: all 250ms ease-out;
}

.paper-raise:before {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.paper-raise:hover {
  border: 1px solid #fff;
}

.paper-raise:hover:before {
  box-shadow: 0 15px 10px -10px rgba(31, 31, 31, 0.5);
}

#search-term {
  font-family: "Bitter";
  height: 40px;
  font-size: 20px;
  padding: 0 10px;
}

#search-container {
  text-align: center;
}

#movies-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movie-container {
  border: 1px solid #ececec;
  cursor: pointer;
  width: 45%;
  height: auto;
  margin: 10px;
  padding: 5px 20px;
  box-sizing: border-box;
}

.movie-container:hover {
  background: #DCE9FC;
}

#details-container {
  padding: 60px;
  position: absolute;
  top: 0;
  height: 100%;
  background-color: #fff;
  width: 100%;
  box-sizing: border-box;
  display: none;
}

.details-active #details-container {
  display: block;
}

.movie-details-image {
  width: 33%;
  float: left;
}

.movie-details-text {
  width: 60%;
  float: right;
}

#overlay-close {
  font-size: 40px;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.loading {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -25px 0 -25px 0;
  border-bottom: 6px solid rgba(0, 0, 0, .1);
  border-left: 6px solid rgba(0, 0, 0, .1);
  border-right: 6px solid rgba(0, 0, 0, .1);
  border-top: 6px solid rgba(0, 0, 0, .4);
  border-radius: 100%;
  height: 50px;
  width: 50px;
  animation: rot .6s infinite linear;
}

@keyframes rot {
  from {transform: rotate(0deg);}
  to {transform: rotate(359deg);}
}

@media (max-width: 480px) {
  .movie-details-image {
    width: 100%;
    float: none;
  }

  .movie-details-text {
    width: 100%;
    float: none;
  }
}